@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.burger {
  display: none;
  width: 40px;
  height: 30px;
  position: absolute;
  right: 15px;
  bottom: 0;
  z-index: 2;
}

.burger span {
  width: 100%;
  position: absolute;
  height: 2px;
  left: 0;
  top: 13px;
  background-color: #fff;
}

.burger::before {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  content: "";
  height: 2px;
}

.burger::after {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  content: "";
  height: 2px;
}

.burger_menu_wraper {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100vh;
  background-color: #16c2a3;
  z-index: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.burger_menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.burger_link {
  list-style: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.burger_link a {
  color: white;
}

.burger_wraper_position {
  width: 50%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.burger_menu_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro {
  background-image: url(../img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.intro_logo {
  margin-top: 5px;
}

.intro_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro_link {
  list-style: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.intro_link a {
  color: white;
}

.intro_link:hover {
  opacity: .7;
}

.intro_block {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_content {
  margin-bottom: 70px;
  width: 50%;
}

.intro_header {
  color: #ffffff;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
}

.intro_text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0;
}

.intro_button {
  width: 183px;
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 28px;
  background-color: #16c2a3;
  color: #fafeff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.intro_button:hover {
  color: white;
  background-color: #10a086;
}

.do {
  min-height: 500px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.do_title {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.do_img {
  position: relative;
  left: -155px;
}

.do_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.do_text {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.9px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.do_button {
  width: 183px;
  height: 55px;
  border-radius: 28px;
  background-color: #4b4b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafeff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.do_button:hover {
  color: white;
  background-color: #303035;
}

.service {
  min-height: 1100px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service_title {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
}

.service_text {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  width: 65%;
}

.service_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: inherit;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #04c2a8 0%, #fec667 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#04c2a8), to(#fec667));
     border-image: linear-gradient(to right, #04c2a8 0%, #fec667 100%);
  -webkit-border-image: -webkit-linear-gradient(to right, #04c2a8 0%, #fec667 100%);
  border-image-slice: 1;
}

.service_connect {
  background-image: url(../img/6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.connect_title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
}

.connect_text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 30px;
}

.connect_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background-color: #fff;
  border-radius: 30px;
}

.connect_input {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  padding-left: 25px;
  border-radius: 30px;
}

.connect_input::-webkit-input-placeholder {
  opacity: 0.6;
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.connect_input:-ms-input-placeholder {
  opacity: 0.6;
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.connect_input::-ms-input-placeholder {
  opacity: 0.6;
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.connect_input::placeholder {
  opacity: 0.6;
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.connect_subscribe {
  background-color: #fafafa;
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 57px;
  text-transform: uppercase;
  width: 40%;
  border-radius: 30px;
  padding-right: 25px;
  text-align: right;
}

.service_item_title {
  margin-bottom: 30px;
  margin-top: 30px;
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.service_item_text {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.service_button {
  width: 183px;
  height: 55px;
  border-radius: 28px;
  background-color: #4b4b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  color: #fafeff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  top: -28px;
}

.service_button:hover {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#04c2a8), to(#fec667));
  background-image: linear-gradient(to right, #04c2a8 0%, #fec667 100%);
}

.service_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 360px;
}

.service_item_full {
  background-image: url(../img/6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.make {
  min-height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.make_choose {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose_title {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.choose_header {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
}

.choose_text {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.choose_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose_sign {
  width: 40%;
  height: 51px;
  border-radius: 25px;
  background-color: #16c2a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
}

.choose_sign:hover {
  background-color: #10a086;
  color: white;
}

.choose_watch {
  width: 40%;
  height: 51px;
  -webkit-box-shadow: 0 -17px 30px rgba(178, 178, 178, 0.15);
          box-shadow: 0 -17px 30px rgba(178, 178, 178, 0.15);
  border-radius: 25px;
  background-color: #4b4b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-left: 30px;
  text-transform: uppercase;
}

.choose_watch:hover {
  background-color: #303035;
  color: white;
}

.stat_item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat_stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stat_number {
  color: #16c2a3;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
}

.stat_indicator {
  font-family: Roboto;
  font-weight: 400;
  margin-top: 15px;
}

.stat_text {
  color: #4b4b4d;
  position: relative;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat_text::before {
  content: "";
  display: block;
  height: 110%;
  background-color: #16c2a3;
  width: 2px;
  position: absolute;
  top: 0;
  right: 109%;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 550px;
  margin-bottom: 40px;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support_title {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
}

.support_text {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 45px;
}

.support_button {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  width: 270px;
  height: 67px;
  border-radius: 30px;
  background-color: #4b4b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support_button:hover {
  background-color: #303035;
  color: white;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 900px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog_title {
  color: #282828;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.blog_text {
  color: #282828;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
}

.blog_article {
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #1d8983;
  background-color: #fefefe;
  padding-left: 20px;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.blog_article_title {
  color: #16c2a3;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 35px;
  display: inline-block;
}

.blog_more a {
  color: #484949;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog_section {
  background-color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog_section .blog_section_content:last-child {
  margin: 0;
}

.blog_section_content {
  -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.blog_section_text {
  padding: 30px 40px 40px 30px;
}

.blog_section_title {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
}

.blog_section_more {
  margin-top: 35px;
}

.blog_section_more a {
  color: #484949;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_logo {
  width: 167px;
  height: 72px;
}

.info_list {
  margin-bottom: 0;
}

.info_list li {
  color: #484949;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.info_list li a {
  color: #16c2a3;
}

.info_list li a:hover {
  color: #10a086;
}

.logo_text {
  color: #484949;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}

.info_title {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.info_text {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.info_text a {
  color: #16c2a3;
}

.info_text a:hover {
  color: #10a086;
}

.footer {
  height: 90px;
  background-color: rgba(22, 194, 163, 0.32);
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer span {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 1500px) {
  .do_img {
    position: static;
  }
}

@media (max-width: 1199px) {
  .block_content {
    padding: 10px 20px 20px 10px;
  }
  .blog_section {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .header {
    position: relative;
  }
  .burger {
    display: block;
  }
  .intro_menu {
    display: none;
  }
  .intro_menu li {
    margin-bottom: 12px;
  }
  .intro_menu li:last-child {
    margin-bottom: 0;
  }
  .connect_input {
    height: 50px;
    width: 90%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .intro_content {
    width: 100%;
    text-align: center;
  }
  .connect_subscribe {
    height: 50px;
    width: 90%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }
  .connect_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
  }
  .info_logo {
    margin-bottom: 10px;
  }
  .info_title {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .blog_section {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .blog_content {
    margin-bottom: 45px;
  }
  .service_connect {
    margin-bottom: 30px;
  }
  .make_choose {
    text-align: center;
    margin-bottom: 25px;
  }
  .choose_buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .choose_text {
    margin: 25px 0;
  }
  .choose_header {
    margin-top: 20px;
  }
  .support {
    text-align: center;
  }
  .support_button {
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .do_button {
    margin: 0 auto;
  }
  .do_content {
    text-align: center;
    margin-top: 25px;
  }
  .service_text {
    width: 100%;
  }
  .service_text, .blog_text {
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .blog_section_img {
    text-align: center;
  }
  .blog_section_text {
    text-align: center;
  }
  .blog_section_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block_content {
    text-align: center;
  }
  .blog_img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro_header {
    font-size: 40px;
  }
}
